body {
    font-family: 'Playfair Display', serif;
    background-color: #EAF6FF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    align-items: center;
}

h1 {
    color: #3F7D20;
    font-size: 3rem;
}



button {
    background-color: #FFD166;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #EF233C;
    color: white;
}

#introduction {
    padding: 10px;
    
}

#quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#question-container {
    margin: 20px;
    padding: 20px;
   font-size: 2rem;
}

.btn-container button {
    margin: 5px;
    width: 200px;
    font-size: larger;
}

#status {
    margin-top: 20px;
}

#question-counter, #score {
    width: 200px;
    font-size: larger;
}

#timer {
    margin-top: 20px;
    font-size: 1.5rem;
}

#scoreboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}

.input-flied {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border: 2px solid black;
}



@media only screen and (max-width: 600px){
    .input-flied {
        width: 80%;
    }
}

